<div class="p-4">
  <input
    type="text"
    placeholder="Search"
    [(ngModel)]="search"
    class="w-100"
    (ngModelChange)="filterData()"
  />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Number of Items</th>
        <th scope="col">Price</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of filteredData">
        <th scope="row">{{ order.id }}</th>
        <td>{{ order.numbersOfItems }}</td>
        <td>{{ order.totalPrice.toFixed(2) }}</td>
        <td>{{ order.createdAt | date : "dd/MM/yy HH:mm" }}</td>
      </tr>
      <tr class="bg-info">
        <th scope="row">Total</th>
        <td>{{ totalItems }}</td>
        <td>{{ totalPrice }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-info w-100" routerLink="/new-order/{{ userId }}">
    new order
  </button>
</div>
